@import url(Poppins-Regular.ttf);
*{
    font-family: Poppins;
}
.corpo{
    text-align: center;
    align-items: center;    
    background-image: linear-gradient(#324001,#F2BE5C);
}
.escrita{
    width: 100%;
    height: 460px;
    text-align: center;
    align-items: center;
    padding: 15px;
    align-content: center;
}
.box{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 810px;
}
.conteudo{

    align-items: center;
    justify-content: center;
    border: 1px solid ;
    text-align: center;
    height: 210px;
    width: 240px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 20px;
    color: white;
    
}
.nome{
    text-align: center;
    align-items: center;
    width: 200px;
    height: 15px;
    padding: 5px;

}
.senha{
    
    text-align: center;
    align-items: center;
    width: 200px;
    height: 15px;
    padding: 5px;

}
.posto{
    text-align: center;
    align-items: center;
    width: 200px;
    height: 15px;
    padding: 2px;
}
.botao{ 
    
    text-align: center;
    align-items: center;
    width: 150px;
    height: 25px;
    padding: 2px;
    border-radius: 5px;

}
.botaoC{
    text-align: center;
    align-items: center;
    width: 150px;
    height: 25px;
    padding: 2px;
    border-radius: 5px;
}
.PG{
    padding: auto;
    margin: 10px;
}